i,em{
	font-style: normal;
}
.bank-activity{
	
}

.bank-activity .bank-activity-head {
	height: 0.95rem;
}

.bank-activity .bank-activity-head .bank-activity-content{
	height: 0.95rem;
	line-height: 0.95rem;
	box-sizing: border-box;
	padding: 0 0.28rem;
	font-size: 0.3rem;
	background-color: #4a92e2;
	position: relative;
}

.bank-activity #setting .bank-activity-head .bank-activity-content a:first-child{
	display: block;
}

.bank-activity #setting .bank-activity-head .bank-activity-content a:last-child{
	flex: 1;
	-webkit-flex:1;
}

.bank-activity #setting .bank-activity-head .bank-activity-content{
	display: flex;
	display: -webkit-flex;
}

.bank-activity #setting #AddressTxt{
	width: auto;
	max-width: 2rem;
}

.bank-activity #setting .bank-activity-content input.bank-activity-txtsearch{
	width: 100%;
	max-width: none;
	color: #999;
}

.bank-activity-content span{
	float: left;
	width: 20%;
	line-height: 1.04rem;
	height: 0.95rem;
	padding-right: 0.18rem;
	color: #fff;
	font-size: 0.30rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.bank-activity .bank-icon-location:before{
	content: '';
	display: inline-block;
	height: 0.35rem;
	width: 0.35rem;
	margin-right: 0.09rem;
	background: url(../img/icon.png) center center no-repeat;
	background-size: cover;
	vertical-align: middle;
}

.bank-activity-content input{
	float: left;
	max-width: 80%;
	height: 0.65rem;
	margin: 0.17rem 0 ;
	border: none;
	font-size: 0.3rem;
	padding-left: 0.2rem;
}

.bank-activity-content em{
    position: absolute;
    right: 18px;
    top: 0.3rem;
    color: #FF942C;
    font-size: 0.4rem;
}


::-webkit-input-placeholder { 
    font-size: 0.26rem;
} 

.bank-type-content{
	height: 3.8rem;
	width: 100%;
	padding: 2.7rem 0.28rem 0 0.28rem;
	background: url(../img/banner.jpg) center bottom no-repeat;
	background-size: cover;
}
.bank-type-select{
	width:100%;
	border:0px solid #d9d9d9;
    border-radius:3px;
    padding:0px 10px 0px 10px;
    font-size:0.28px;
    height: 0.7rem;
    line-height: 0.7rem;
    background-color: #fff;
    position: relative;
    font-size: 0.26rem;
    color: #666;
}

.bank-type-select span{
	display: block;
	height: 100%;
	width: 100%;
}

.bank-type-select.active{
	border-bottom-right-radius: 0 ;
	border-bottom-left-radius: 0 ;
}

.bank-type-select:after {
    content: '\e581';
    font-family: Muiicons;
    font-size: inherit;
    line-height: 1;
    position: absolute;
    top: 0.15rem;
    right: 0px;
    border-left:solid 1px #d9d9d9;
    padding-left:8px;
    padding-right:8px;
    font-size: 0.4rem;
    color: #bebebe;
}

.bank-type-select .mui-scroll-wrapper{
	top:0.70rem;
	z-index: 20;
	background-color: #fff;
	border-radius: 0 0 7px 7px ;
	min-height: 0.7rem;
	max-height: 3.2rem;
	border: 1px solid #f7f7f7;
	box-shadow: 1px 2px 10px #efefef;
}

.bank-type-select  .mui-scroll-wrapper  .mui-scroll{
	background-color: #fff;
}

.bank-type-select .mui-scroll-wrapper p{
	margin: 0;
	height: 0.7rem;
	line-height: 0.7rem;
	border-bottom: 1px dashed #eee;
	font-size: 0.28rem;
	padding-left: 10px;
}

.bank-type-select .mui-scroll-wrapper p:last-child{
	border-bottom: 0;
}


#setting .mui-page-content>.mui-scroll-wrapper{
	top:0.95rem
}


.bank-shop-list.mui-content>.mui-table-view:first-child{
	margin-top: 0px;
}

.bank-activity .bank-shop-list .mui-table-view:last-child {
    margin-bottom: 1rem;
}

/*.bank-shop-list .mui-table-view-cell{
	padding: 0.18rem 0.28rem;
}*/

.bank-shop-list .mui-media-body{
	width: 83%;
	font-size: 0.3rem;
	text-overflow: ellipsis;
}

.bank-shop-list .mui-media-body p{
	margin-top: 0.1rem;
	font-size: 0.22rem;
	line-height: 0.35rem;
}
.bank-shop-list .mui-media-body p:before{
	content: '';
	display: inline-block;
	height: 0.35rem;
	width: 0.35rem;
	margin-right: 0.04rem;
	background: url(../img/icon_gray.png) center center no-repeat;
	background-size: cover;
	vertical-align: text-bottom;
}

.bank-shop-list .bank-content-right{
	display: inline-block;
    max-width: 55px;
    width:auto
    height: 42px;
    margin-left: 10px;
	font-size: 0.42rem;
	color: #FF942C;
	
}


.bank-content-right i{
	font-size: 0.2rem;
	margin-left: 2px;
	color: #999;
}
.bank-content-right span.bank-card{
	display: block;
	width: 100%;
    padding: 0 0.04rem;
	border: 1px solid #FF942C;
	border-radius: 0.38rem;
	font-size: 0.15rem;
	text-align: center;
	overflow: hidden;
	text-overflow: clip;
	white-space: nowrap;
	
}

.bank-content-right span.bank-hidden,.bank-content-right span.bank-hidden i{
	color: transparent;
}

.bank-activity-footer{
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	background-image:-webkit-linear-gradient(to right, #4a91e3, #6dcdb2);
    background-image:linear-gradient(to right,#4a91e3, #6dcdb2);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 20;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    padding: 0.15rem 0.28rem;
    text-align: center;
}
.bank-activity-footer a{
	line-height: 0.7rem;
	border-radius:0.7rem ;
	font-size: 0.28rem;
	box-sizing: border-box;
}

.bank-activity-footer a:first-child{
	-webkit-flex: 1;
	flex: 1;
	border:1px solid #fff;
	color: #fff;
}
.bank-activity-footer a:last-child{
	-webkit-flex: 2;
	flex: 2;
	background-color: #fff;
	margin-left: 0.28rem;
	color: #4A92E3;
}


/*地址*/
#Address .mui-table-view:last-child{
	padding-bottom: 20px;
}


/*搜索商户列表*/
#SearchList .mui-page-content>.mui-scroll-wrapper{
	top:0.95rem
}
#SearchList .bank-activity-content{
	height: 0.95rem;
	line-height: 0.95rem;
	box-sizing: border-box;
	padding: 0 0.28rem;
	font-size: 0.3rem;
	background-color: #4a92e2;
}

.bank-activity-content span.bank-icon-arrowleft{	
	border: 1px solid #fff;
    border-radius: 50%;
    line-height: 0.95rem;
    height: 0.5rem;
    width: 0.5rem;
    padding: 0.1rem;
    margin-top: 0.23rem;
    background: url(../img/icon_arrow.png) center center no-repeat;
    background-size: 80% 80%;
}
.bank-activity-content #searchShopTxt{
	float: right;
	max-width: 90%;
	padding-right: 30px;
}

#SearchList .mui-table-view .mui-table-view-cell{
	font-size: 0.3rem;
	color: #777;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#SearchList .mui-table-view .mui-table-view-cell span{
	font-size: 0.22rem;
}

#SearchList .mui-table-view:last-child{
	margin-bottom: 0;
}


/*弹窗*/
.mui-popup{
	width: 90%;
}
.mui-popup-title{
	color: #4b92e2;
	font-size: 16px;
}
.mui-popup-title:before ,.mui-popup-title:after{
	content: '';
	display: inline-block;
	height: 1px; 
	width: 30px;
	background-color:#c8c8c8;
	margin: 0 8px;
	vertical-align: middle;
}
.mui-popup-text i{
	color: #4b92e2;
}

.mui-popup-text{
	font-size: 14px;
}
.mui-popup-text .bank-rule-flow{
	text-align: left;
	position: relative;
	height: 350px;
}
.bank-rule-content{
}
.bank-rule-tips{
	/*text-indent: 2em;
	margin: 10px 0 15px 0 ;*/
}

#alertBox .bank-rule-active{
	color: #4b92e2;
    font-size: 14px;
    font-weight: 500;
    text-align: center;	
    padding: 0 15px;
}
#alertBox .bank-rule-active:before, .bank-rule-active:after {
	position: relative !important;
    content: '';
    display: inline-block;
    height: 1px !important;
    width: 30px;
    background-color: #c8c8c8;
    margin: 0 8px;
    vertical-align: middle;
}
.bank-rule-list{
	padding-left: 15px;
	position: relative;
}
.bank-rule-list:before{
	content: '';
	display: block;
	height: 5px;
	width: 5px;
	border-radius: 5px;
	margin-right: 7px;
	background-color: #4b92e2;
	position: absolute;
	top: 19px;
	left: 0;
}


.alerttips,.loading{
	display: none;
	position: absolute;
    z-index: 20001;
    top: 50%;
    left: 50%;
    overflow: hidden;
    width: 90%;
    -webkit-transition-property: -webkit-transform,opacity;
    transition-property: transform,opacity;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    text-align: center;
    opacity: 1;
    color: #000;
    border-radius: 13px;
}

.loading span{
	display: block;
	width: 1.5rem;
	height: 1.5rem;
	animation: myfirst 1.5s linear infinite normal;
	-webkit-animation: myfirst 1.5s linear infinite normal;
	margin: auto;
}
.loading span img{
	width: 100%;
	height: auto;
}

@keyframes myfirst
{
0%   {transform:rotate(0deg);-webkit-transform:rotate(0deg);}
50%  {transform:rotate(180deg);-webkit-transform:rotate(180deg);}
100% {transform:rotate(360deg);-webkit-transform:rotate(360deg);}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {transform:rotate(0deg);-webkit-transform:rotate(0deg);}
50%  {transform:rotate(180deg);-webkit-transform:rotate(180deg);}
100% {transform:rotate(360deg);-webkit-transform:rotate(360deg);}
}



.alert-title:before ,.alert-title:after{
	content: '';
	display: inline-block;
	height: 1px; 
	width: 30px;
	background-color:#c8c8c8;
	margin: 0 8px;
	vertical-align: middle;
}

.alert-inner{
	position: relative;
    padding: 15px;
    border-radius: 13px 13px 0 0;
    background: #fff;
    text-align: left;
    height: 350px;
    overflow: hidden;
}
.alert-title{
	color: #4b92e2;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
.alert-text{
	font-family: inherit;
    font-size: 14px;
    margin: 5px 0 0;
    height: 350px;
    position: relative;
}
.alert-text i {
    color: #4b92e2;
}


.alert-buttons {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 65px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    background: #fff;
}
.alert-button{
	display: block;
	box-sizing: border-box;
	width: 50%;
	height: 35px;
	line-height: 35px;
	margin: 10px auto;
	background-color: #4B92E2;
	color: #fff;
	border-radius: 3px;
	font-size: 15px;
	text-align: center;
}

.alert-backdrop{
	display: none;
	position: absolute;
    z-index: 20000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    opacity: 1;
    background: rgba(0,0,0,.4);
}


#alertBox .mui-scroll-wrapper{
	top:0px;
	background: rgba(255,255,255,.95);
	bottom: 35px;
}
#alertBox .mui-scroll{
	background: rgba(255,255,255,.95);
}
#alertBox .mui-table-view{
	background: rgba(255,255,255,.95);
}
#alertBox .mui-table-view-cell:after, #alertBox .mui-table-view:after{
	height: 0px;
}
#alertBox .mui-table-view-cell{
	background: rgba(255,255,255,.95);
	color: #8f8f94;
}
#alertBox .mui-table-view-cell:last-child:before{
	height: 5px;
}
