.mui-indexed-list {
	position: relative;
	border-bottom: solid 1px #e3e3e3;
	overflow: hidden;
	background-color: #fafafa;
	height: 300px;
	cursor: default;
}
.mui-indexed-list-inner {
	margin: 0px;
	padding: 0px;
	overflow-y: auto;
	border: none;
}
.mui-indexed-list-inner::-webkit-scrollbar {
	width: 0px;
	height: 0px;
	visibility: hidden;
}
.mui-indexed-list-empty-alert,
.mui-indexed-list-inner.empty ul {
	display: none;
}
.mui-indexed-list-inner.empty .mui-indexed-list-empty-alert {
	display: block;
}
.mui-indexed-list-empty-alert {
	padding: 30px 15px;
	text-align: center;
	color: #ccc;
	padding-right: 45px;
}
.mui-ios .mui-indexed-list-inner {
	width: calc(100% + 10px);
}
.mui-indexed-list-group,
.mui-indexed-list-item {
	padding-right: 45px;
}
.mui-ios .mui-indexed-list-group,
.mui-ios .mui-indexed-list-item,
.mui-ios .mui-indexed-list-empty-alert {
	padding-right: 30px;
}
.mui-indexed-list-item{
	font-size: 15px;
}
.mui-indexed-list-group {
	background-color: #f7f7f7;
}
.mui-indexed-list-group {
	padding-top: 3px;
	padding-bottom: 3px;
}
.mui-indexed-list-search {
    background-color: #343338;
    padding: 8px 12px 12px 12px;
	z-index: 15;
}
.mui-indexed-list-search.mui-input-row.mui-search{
    padding-left: 65px;
}


.mui-indexed-list-search.mui-search:before {
	margin-top: -10px;
}

.mui-indexed-list-search input {
	border-radius: 4px;
	margin: 0px;
	background-color: #E8E8E8;
}

.mui-indexed-list-search .mui-icon{
	color: #fff;
	font-size: 15px;

}

.mui-indexed-list-search .mui-icon.mui-action-back{
	position: absolute;
    top: 19px;
    left: 8px;
}

.mui-search .mui-placeholder{
	line-height: 52px;
	height: 52px;
	margin-left: 56px;
	font-size: 13px;
}

.mui-indexed-list-bar {
	width: 25px;
	color: #007AFF;
	position: absolute;
	height: 100%;
	z-index: 10;
	right: 0px;
	-webkit-transition: .2s;
	margin: 5px 0;
}
.mui-indexed-list-bar a {
	display: block;
	text-align: center;
	font-size: 11px;
	padding: 0px;
	margin: 0px;
	line-height: 15px;
	color: #333;
}
.mui-indexed-list-bar.active {
	background-color: rgb(200,200,200);
}
.mui-indexed-list-bar.active a {
	color: #333;
}
.mui-indexed-list-bar.active a.active {
	color: #007aff;
}
.mui-indexed-list-alert {
	position: absolute;
	z-index: 20;
	background-color: rgba(0, 0, 0, 0.5);
	width: 80px;
	height: 80px;
	left: 50%;
	top: 50%;
	margin-left: -40px;
	margin-top: -40px;
	border-radius: 40px;
	text-align: center;
	line-height: 80px;
	font-size: 35px;
	color: #fff;
	display: none;
	-webkit-transition: .2s;
}
.mui-indexed-list-alert.active {
	display: block;
}
.mui-indexeed-location-text{
	height: 35px;
	line-height: 35px;
	background-color: #fff;
	padding: 0 12px;
	font-size: 14px;
}
.mui-indexeed-location-text #locationGps{
	font-size: 12px;
	color: #999999;
}

.mui-city{
	
}
.mui-city p{
	padding: 10px 0px 0px 0px;
	margin: 0;
}

.mui-city .mui-city-list{
	overflow: hidden;
	padding: 0px 0px 10px 0px;
}

.mui-city .mui-city-list span{
	width: 29%;
	float: left;
	box-sizing: border-box;
	line-height: 28px;
	margin: 7px 11px 0 0;
	text-align: center;
	background-color: #fff;

	box-shadow: 1px 1px 2px #cecece;
	font-size: 12px;
	color: #444;
}
.mui-indexed-list-inner .mui-table-view.mar-bor-0{
	margin-top: 0;
}
.mui-indexed-list-inner .mui-table-view.mar-bor-0:before,.mui-table-view-divider:before,.mui-table-view-divider:after{
	height: 0;
}
.mui-indexed-list-search.mui-search.mui-active:before{
	left: 70px;
	top:47%;
}
.mui-input-row.mui-search .mui-icon-clear{
	top: 15px;
    right: 20px;
    color: #FF942C;
}
.mui-bg-f7{
	background-color: #f7f7f7;
	padding-top: 1px;
}
.mui-bg-f7.mui-active{
	background-color: #f7f7f7;
}
.mui-tags-pad{
	font-size: 14px;
    padding-bottom: 0;
    padding-top: 10px;
}
.mui-indexed-list-bar.active{
	background-color: transparent !important;
}

.mar-bor-0.mui-table-view:after{
	height: 0;
}






